{% extends "layout.html" %}

{% block content %}



    <!-- Header -->
    <header id="top" class="header">
        <div class="text-vertical-center">
            <h1>Welcome to Trip Planner!</h1>
            <!-- <h3>Free Bootstrap Themes &amp; Templates</h3> -->
            <br>
            <input class="form-control text-center center-block add-trip-input" placeholder="Enter your trip name" name="trip-name" style="width: 300px;">
            <button type="submit" class="btn btn-dark btn-lg">Add a Trip!</a>
        </div>
    </header>


{% endblock %}
