{% extends "layout.html" %}

{% block content %}

<div class="top-bar">
<img class="logo" src="./img/logo.png">
<div class="text-white top-bar-text">NYC</div>
</div>

<div class="container-fluid">
<div class="row">
	<div class="col-sm-8 map-column">
	    <!-- Map -->
	    <section id="map-canvas" class="map">
	    </section>

	</div>
	<div class="col-sm-4">
		<form class="trip-options">
		<h2 class="title">Day One</h2>
		    <div class="form-group">
				<label>Choose a hotel:</label>
				<div class="input-group">
			        <select class="form-control form-inline">
			        {% for hotel in all_hotels %}
			            <option value="{{hotel.name}}">{{hotel.name}}</option>
			        {% endfor %}
			        </select>
				   <span class="input-group-btn">
					<button type="button" class="btn btn-info btn-xs btn-circle btn-plus"><i class="glyphicon glyphicon-plus"></i></button>				   </span>
				</div>  
		    </div>
		   <div class="form-group">
		        <label>Choose up to 3 restaurants:</label>
		        <div class="input-group">
			        <select class="form-control form-inline">
			        {% for restaurant in all_restaurants %}
		            	<option value="{{restaurant.name}}">{{restaurant.name}}</option>
		        	{% endfor %}
			        </select>
				   <span class="input-group-btn">
					<button type="button" class="btn btn-info btn-xs btn-circle btn-plus"><i class="glyphicon glyphicon-plus"></i></button>				   </span>
				</div>
		    </div>
		   <div class="form-group">
		        <label>Choose activities:</label>
		        <div class="input-group">
			        <select class="form-control form-inline">
			        {% for activity in all_activities %}
		            <option value="{{activity.name}}">{{activity.name}}</option>
		       		 {% endfor %}
			        </select>
				   <span class="input-group-btn">
					<button type="button" class="btn btn-info btn-xs btn-circle btn-plus"><i class="glyphicon glyphicon-plus"></i></button>				   </span>
				</div>
		    </div>
			<div class="btn-group">
			  <button type="button" class="btn btn-danger">Add Another Day</button>
			  <!-- <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			    <span class="caret"></span>
			    <span class="sr-only">Toggle Dropdown</span>
			  </button>
			  <ul class="dropdown-menu">
			    <li><a href="#">Day One</a></li>
			    <li><a href="#">Day Two</a></li>
			    <li><a href="#">Day Three</a></li>
			    <li role="separator" class="divider"></li>
			    <li><a href="#">Add Another Day</a></li>
			  </ul> -->
			</div>
		    
		</form>
	</div>

</div>

<div class="row daily-list">
	<ul class="nav nav-pills">
	  <li role="day" class="active"><a href="#">Day One</a></li>
	  <li role="day"><a href="#">Day Two</a></li>
	  <li role="day"><a href="#">Day Three</a></li>
	</ul>

	<div class="daily-boxes">

    <div class="col-sm-4">
      <div class="features">
        <div class="feature-header">
          <h3 class="feature-title"><i class="fa fa-building"></i> Hotel</h3>
        </div>
        <div class="feature-body">
	        <ul>
	          <li>Smyth TriBeCa</li>
	        </ul>
        </div>
    </div>
  </div>
  <div class="col-sm-4">
      <div class="features">

        <div class="feature-header">
          <h3 class="feature-title"><i class="fa fa-glass"></i> Restaurants</h3>
        </div>
        <div class="feature-body">
	        <ul>
	          <li>Jungsik</li>
	          <li>Pylos</li>
	          <li>Xe Lua</li>
	        </ul>
        </div>
        </div>
      </div>
      <div class="col-sm-4">
          <div class="features">
        <div class="feature-header">
          <h3 class="feature-title"><i class="fa fa-camera-retro"></i> Activities</h3>
        </div>
        <div class="feature-body">
	        <ul>
	          <li>Ground Zero</li>
	          <li>Washington Square Park</li>
	          <li>Battery Park</li>
	        </ul>        
        </div>
      </div>
      </div>
</div>
</div>

{% endblock %}