{% extends "layout.html" %}

{% block content %}

<div class="row">
<div class="col-sm-8">
    <!-- Map -->
    <section id="contact" class="map">
        <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;aq=0&amp;oq=twitter&amp;sll=28.659344,-81.187888&amp;sspn=0.128789,0.264187&amp;ie=UTF8&amp;hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;t=m&amp;z=15&amp;iwloc=A&amp;output=embed"></iframe>
        <br />
        <small>
            <a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;aq=0&amp;oq=twitter&amp;sll=28.659344,-81.187888&amp;sspn=0.128789,0.264187&amp;ie=UTF8&amp;hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;t=m&amp;z=15&amp;iwloc=A"></a>
        </small>
        </iframe>
    </section>
</div>
<div class="col-sm-4">
	<h1>Trip Name Placeholder</h1>
            <h3>Day One</h3>
                <form class="trip-options">
                    <div class="form-group">
                        <label>Choose a hotel:</label>
                        <select class="form-control">
                            <option value="1">1</option>
                            <option value="2">2</option>
                        </select>
                    </div>
                   <div class="form-group">
                        <label>Choose up to 3 restaurants:</label>
                        <select class="form-control">
                            <option value="1">1</option>
                            <option value="2">2</option>
                        </select>
                    </div>
                   <div class="form-group">
                        <label>Choose activities:</label>
                        <select class="form-control">
                            <option value="1">1</option>
                            <option value="2">2</option>
                        </select>
                    </div>
                </form>
	</div>
	</div>
<div class="row">
      <div class="col-lg-4">
      <div class="features">
        <div class="feature-header">
          <h3><i class="fa fa-check-circle-o"></i> Bootstrap 3 Built</h3>
        </div>
        <div class="feature-body">
          <p>The 'Modern Business' website template by <a href="http://startbootstrap.com">Start Bootstrap</a> is built with <a href="http://getbootstrap.com">Bootstrap 3</a>. Make sure you're up to date with latest Bootstrap documentation!</p>
        </div>
        </div>
      </div>
      <div class="col-lg-4">
      <div class="features">

        <div class="feature-header">
          <h3><i class="fa fa-pencil"></i> Ready to Style &amp; Edit</h3>
        </div>
        <div class="feature-body">
          <p>You're ready to go with this pre-built page structure, now all you need to do is add your own custom stylings! You can see some free themes over at <a href="http://bootswatch.com">Bootswatch</a>, or come up with your own using <a href="http://getbootstrap.com/customize/">the Bootstrap customizer</a>!</p>
        </div>
        </div>
      </div>
      <div class="col-lg-4">
          <div class="features">
        <div class="feature-header">
          <h3><i class="fa fa-folder-open"></i> Many Page Options</h3>
        </div>
        <div class="feature-body">
          <p>This template features many common pages that you might see on a business website. Pages include: about, contact, portfolio variations, blog, pricing, FAQ, 404, services, and general multi-purpose pages.</p>
        </div>
        </div>
      </div>
</div>

{% endblock %}