{% extends "layout.html" %}

{% block content %}

<div class="row">
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="#">
	        <h2 class="title">Trip Planner</h2>
	      </a>
	    </div>
	  </div>
	</nav>

	<div class="col-sm-8">
	    <!-- Map -->
	    <section id="contact" class="map">
	        <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;aq=0&amp;oq=twitter&amp;sll=28.659344,-81.187888&amp;sspn=0.128789,0.264187&amp;ie=UTF8&amp;hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;t=m&amp;z=15&amp;iwloc=A&amp;output=embed"></iframe>
	        <br />
	        <small>
	            <a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;aq=0&amp;oq=twitter&amp;sll=28.659344,-81.187888&amp;sspn=0.128789,0.264187&amp;ie=UTF8&amp;hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;t=m&amp;z=15&amp;iwloc=A"></a>
	        </small>
	        </iframe>
	    </section>
	</div>
	<div class="col-sm-4">
		<h1 class="destination">NYC</h1>
		<h3 class="day">Day One</h3>
		<form class="trip-options">
		    <div class="form-group">
		        <label>Choose a hotel:</label>
		        <select class="form-control">
		            <option value="1">1</option>
		            <option value="2">2</option>
		        </select>
		    </div>
		   <div class="form-group">
		        <label>Choose up to 3 restaurants:</label>
		        <select class="form-control">
		            <option value="1">1</option>
		            <option value="2">2</option>
		        </select>
		    </div>
		   <div class="form-group">
		        <label>Choose activities:</label>
		        <select class="form-control">
		            <option value="1">1</option>
		            <option value="2">2</option>
		        </select>
		    </div>
		</form>
	</div>
	<div class="btn-group">
	  <button type="button" class="btn btn-danger btn-lg">Day One</button>
	  <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	    <span class="sr-only">Toggle Dropdown</span>
	  </button>
	  <div class="dropdown-menu">
	    <a class="dropdown-item" href="#">Day Two</a>
	    <a class="dropdown-item" href="#">Day Three</a>
	    <div class="dropdown-divider"></div>
	    <a class="dropdown-item" href="#">Add another day</a>
	  </div>
	</div>
</div>

<div class="row daily-list">
	<ul class="nav nav-tabs">
	  <li role="day" class="active"><a href="#">Day One</a></li>
	  <li role="day"><a href="#">Day Two</a></li>
	  <li role="day"><a href="#">Day Three</a></li>
	</ul>

	<div class="daily-boxes">

    <div class="col-sm-4">
      <div class="features">
        <div class="feature-header">
          <h3><i class="fa fa-building"></i> Hotel</h3>
        </div>
        <div class="feature-body">
	        <ul class="list">
	          <li>skljflks</li>
	          <li>skljflks</li>
	          <li>skljflks</li>
	        </ul>
        </div>
    </div>
  </div>
  <div class="col-sm-4">
      <div class="features">

        <div class="feature-header">
          <h3><i class="fa fa-glass"></i> Restaurants</h3>
        </div>
        <div class="feature-body">
	        <ul class="list">
	          <li>skljflks</li>
	          <li>skljflks</li>
	          <li>skljflks</li>
	        </ul>
        </div>
        </div>
      </div>
      <div class="col-sm-4">
          <div class="features">
        <div class="feature-header">
          <h3><i class="fa fa-camera-retro"></i> Activities</h3>
        </div>
        <div class="feature-body">
	        <ul class="list">
	          <li>skljflks</li>
	          <li>skljflks</li>
	          <li>skljflks</li>
	        </ul>        
        </div>
      </div>
      </div>
</div>

{% endblock %}