body {
  font-family: 'Lato', sans-serif; }

.row {
  margin: 0 auto;
}

h1, h2, h3 {
  font-family: 'Oleo Script', cursive; }

.title {
  color: #ff5a5f;
  margin-top: 0;
}

.destination{
  color: #ff5a5f;
  text-align: center;
}

.day{
 color: #ff5a5f;
 text-align: center;
}

.add-trip-input {
  margin-bottom: 20px; }

.trip-options {
  width: 300px;
  margin: 0 auto; }

.features {
  border: solid #93BDAE 1px;
  border-radius: 5px; }

.feature-header {
  border-bottom: solid #93BDAE 1px;
  background-color: #45BDBD;
  padding: 0px 25px;
  padding-top: 5px;
  border-radius: 5px 5px 0px 0px; }

.feature-body {
  padding: 8px 20px;
  /*font-size: 14px;*/
  /*min-height: 130px;*/ }

.btn-group {
  margin: 0 auto;
}

.daily-list {
  margin-top: 20px;
  padding: 15px; }

.daily-boxes {
  padding: 20px; }

h3 {
  height: 20px;
  margin-bottom: 15px;
  color: #575757; }

.fa {
  margin-right: 5px; }

.list {
  text-align: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

/*.map {
	min-height: 100%;
}*/
/*font-family: 'Kameron', serif;
font-family: 'Sansita One', cursive;*/
