.add-trip-input {
  margin-bottom: 20px; }

.trip-options {
  width: 300px;
  margin: 0 auto; }

.features {
  border: solid #ddd 1px;
  border-radius: 5px; }

.feature-header {
  border-bottom: solid #ddd 1px;
  background-color: #f5f5f5;
  padding: 8px 30px;
  border-radius: 5px 5px 0px 0px; }

.feature-body {
  padding: 0px 30px;
  font-size: 14px;
  min-height: 130px; }

/*.map {
	min-height: 100%;
}*/
