body {
    font-family: 'Kameron', serif;
}

h1, h2, h3 {
	font-family: 'Sansita One', cursive;
}
.add-trip-input {
	margin-bottom: 20px;
}

.trip-options {
	width: 300px;
	margin: 0 auto;
}

/*.map {
	min-height: 100%;
}*/

/*font-family: 'Kameron', serif;
font-family: 'Sansita One', cursive;*/